<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.salpa.bookery.model.BookDao">
	<select id="selectAll" resultType="bookBean">
		select * from book
	</select>
	<select id="selectOne" resultType="bookBean" parameterType="_int">
		select * from book where bid = #{bid}
	</select>
	<select id="selectOneByStudyId" resultType="bookBean" parameterType="_int">
		select * from book where bid=(select book_bid from study where id=#{id})
	</select>
	<select id="selectMostBook" resultType="bookBean">
		select bid,title, coverurl from salpa.book inner join (SELECT
		count(book_bid) as cntbid, book_bid FROM salpa.study group by book_bid
		order by cntbid desc limit 10) as s on salpa.book.bid=s.book_bid
	</select>
	<select id="selectThirtyBook" resultType="bookBean">
		select bid,title, coverurl from salpa.book inner join (SELECT
		count(book_bid) as cntbid, book_bid FROM salpa.study group by book_bid
		order by cntbid desc limit 30) as s on salpa.book.bid=s.book_bid
	</select>
	<insert id="insertOne" parameterType="bookBean">
		<!-- 중복값 처리. -->
		insert into book
		(bid, title, writer, publisher, pages, category,
		translator, titleoriginal, publicationdate, revision, coverurl)
		values
		(#{bid},#{title},#{writer},#{publisher},#{pages},#{category},#{translator},#{titleoriginal},#{publicationdate},#{revision},#{coverurl})
		on duplicate key update
		bid=#{bid},title=#{title},writer=#{writer},publisher=#{publisher},pages=#{pages},category=#{category},
		translator=#{translator},titleoriginal=#{titleoriginal},publicationdate=#{publicationdate},revision=#{revision},coverurl=#{coverurl}

	</insert>
</mapper>