<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.salpa.bookery.model.ClubDao">
	<select id="selectNotice" resultType="clubBean">
		select * from club where book_bid=0 and deleted!=1 and num!=3 order by depth desc,createtime desc
	</select>
	
	<select id="selectOneToOne" resultType="clubBean">
		select * from club where book_bid=0 and deleted!=1 and num=3 and depth!=1 order by createtime desc
	</select>
	
	<select id="selectOneNotice" resultType="clubBean" parameterType="_int">
		select * from club where book_bid=0 and deleted!=1 and id=${id}
	</select>

	<select id="selectBookClubAll" resultType="clubBean">
		select * from club where book_bid != 1;
	</select>
	
	<insert id="insertBookClub" parameterType="bookBean">
		insert into club (updatetime, title, book_bid) values (now(),#{title},#{bid})

	</insert>
	
	<insert id="insertNotice" parameterType="clubBean">
		insert into club (createtime, title, content, depth, num, ref, user_id, book_bid) 
			values(now(),#{title},#{content},#{depth},#{num}, #{ref}, #{user_id}, 0);
	</insert>
	
	<update id="updateNotice" parameterType="clubBean">
		update club set updatetime=now(), title=#{title}, content=#{content}, depth=#{depth} where id=#{id}
	</update>
	
	<update id="updateRef" parameterType="_int">
		update club set depth=1 where id=#{id}
	</update>
	
	<update id="deleteClubData" parameterType="_int">
		update club set deleted=1 where id=#{id}
	</update>
	
	<select id="selectAboutBook" parameterType="_int" resultType="clubBean">
		select * from club where book_bid=#{book_bid} and deleted != 1 order by createtime desc
	</select>
	
	<select id="selectOneClub" resultType="clubBean" parameterType="_int">
		select * from club where id = #{id} and deleted !=1
	</select>
	
	<insert id="insertOneClub" parameterType="clubBean">
		insert into club (updatetime, title, content, ref, depth, num, user_id,
		book_bid) values (now(),#{title},#{content},0,#{depth},0,#{user_id},#{book_bid});
	</insert>
	
</mapper>