<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.salpa.bookery.model.ClubDao">
	<select id="selectNotice" resultType="clubBean">
		select * from club where book_bid=0 and deleted!=1 and num!=3 order by depth desc,createtime desc
	</select>
	
	<select id="selectOneToOne" resultType="clubBean">
		select * from club where book_bid=0 and deleted!=1 and num=3 and depth!=1 order by createtime desc
	</select>
	
	<select id="selectOneNotice" resultType="clubBean" parameterType="_int">
		select * from club where book_bid=0 and deleted!=1 and id=${id}
	</select>
	
	<select id="selectNewsNotice" resultType="clubBean">
		select * from club where book_bid=0 and num=1 order by depth desc, updatetime asc limit 3
	</select>
	
	<select id="selectContentForNews" resultType="clubBean">
		select a.id,a.createtime, a.title, a.content, a.nickname, b.title as book_title, b.coverurl,b.writer,b.bid as book_bid from 
		(select c.id, c.createtime, title, content, nickname,book_bid from club c join user u where c.user_id=u.id and title is not null and book_bid!=0) a
		join book b where a.book_bid=b.bid order by a.createtime desc limit 10;
	</select>

	<select id="selectBookClubAll" resultType="clubBean">
		select * from club where book_bid != 1;
	</select>
	
	<insert id="insertBookClub" parameterType="bookBean">
		insert into club (updatetime, title, book_bid) values (now(),#{title},#{bid})

	</insert>
	
	<insert id="insertNotice" parameterType="clubBean">
		insert into club (createtime, title, content, depth, num, ref, user_id, book_bid) 
			values(now(),#{title},#{content},#{depth},#{num}, #{ref}, #{user_id}, 0);
	</insert>
	
	<update id="updateNotice" parameterType="clubBean">
		update club set updatetime=now(), title=#{title}, content=#{content}, depth=#{depth} where id=#{id}
	</update>
	
	<update id="updateRef" parameterType="_int">
		update club set depth=1 where id=#{id}
	</update>
	
	<update id="deleteClubData" parameterType="_int">
		update club set deleted=1 where id=#{id}
	</update>
	
	<select id="selectAboutBook" parameterType="clubBean" resultType="clubBean">
		select c.id, c.createtime, c.updatetime ,title , content,ref ,depth ,num ,c.deleted ,user_id ,book_bid,nickname from club c 
		inner join user u on c.user_id = u.id where book_bid=#{book_bid} and c.deleted != 1 and title like 
		#{search} order by createtime desc
	</select>
	
	<select id="selectOneClub" resultType="clubBean" parameterType="_int">
		select c.id, c.createtime, c.updatetime ,title , content,ref ,depth ,num ,c.deleted ,user_id ,book_bid,nickname from club c 
		inner join user u on c.user_id = u.id where c.id = #{id} and c.deleted !=1;
	</select>
	
	<insert id="insertOneClub" parameterType="clubBean">
		insert into club (updatetime, title, content, ref, depth, num, user_id,
		book_bid) values (now(),#{title},#{content},0,#{depth},0,#{user_id},#{book_bid});
	</insert>


	<insert id="insertReplyClub" parameterType="clubBean">
		insert into club (updatetime, content, ref, depth, num, user_id,
		book_bid) values (now(),#{content},#{ref},#{depth},0,#{user_id},#{book_bid});
	</insert>
	
	<select id="selectMore" parameterType="clubBean" resultType="clubBean">
		select * from (select c.id, c.createtime, c.updatetime ,title , content,ref ,depth ,num ,c.deleted ,user_id ,book_bid,nickname 
		from club c inner join user u on c.user_id = u.id where book_bid=#{book_bid} and c.deleted != 1 and title like 
		#{search} order by createtime desc) s limit #{start},10
	</select>
	
	<select id="selectReplyById" resultType="clubBean" parameterType="_int">
		select c.id, c.createtime, c.updatetime ,title , content,ref ,depth ,num ,c.deleted ,user_id ,book_bid,nickname from club c inner join user u 
		on c.user_id = u.id where ref = #{id} and depth = 1 and c.deleted != 1  order by createtime asc
	</select>
	
	<select id="countOfPosts" parameterType="_int" resultType="_int">
		select count(*) from club  where book_bid = #{book_bid} and deleted != 1
	</select>
	
	<update id="updateClubPost" parameterType="clubBean">
	  	update club set title=#{title},content=#{content},updatetime = now() where id = #{id}
	</update>
	
	
</mapper>