<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.salpa.bookery.model.ClubDao">
	<select id="selectNotice" resultType="clubBean">
		select * from club where book_bid=0 and deleted!=1 and num!=3 order by depth desc,createtime desc
	</select>
	
	<select id="selectOneToOne" resultType="clubBean">
		select * from club where book_bid=0 and deleted!=1 and num=3 and depth!=1 order by createtime desc
	</select>
	
	<select id="selectOneNotice" resultType="clubBean" parameterType="_int">
		select * from club where book_bid=0 and deleted!=1 and id=${id}
	</select>
	
	<select id="selectNewsNotice" resultType="clubBean">
		select * from club where book_bid=0 and num=1 order by depth desc, updatetime asc limit 3
	</select>
	
	<select id="popularContents" resultType="clubBean">
		select max(title) as title, max(num) as num,max(id) as id from club where book_bid!=0 and deleted != 1 and title is not null and title != 'checked' group by title order by max(num) desc limit 5
	</select>
	
	<select id="selectContentForNews" resultType="clubBean">
		select a.id,a.createtime, a.title, a.content, a.nickname, b.title as book_title, b.coverurl,b.writer,b.bid as book_bid from 
		(select c.id, c.createtime, title, content, nickname,book_bid from club c join user u where c.user_id=u.id and title is not null and depth=0 and book_bid!=0) a
		join book b where a.book_bid=b.bid order by a.createtime desc limit 10;
	</select>

	<select id="selectBookClubAll" resultType="clubBean">
		select * from club where book_bid != 1;
	</select>
	
	<insert id="insertBookClub" parameterType="bookBean">
		insert into club (updatetime, title, book_bid) values (now(),#{title},#{bid})

	</insert>
	
	<insert id="insertNotice" parameterType="clubBean">
		insert into club (createtime, updatetime, title, content, depth, num, ref, user_id, book_bid) 
			values(now(),now(),#{title},#{content},#{depth},#{num}, #{ref}, #{user_id}, 0);
	</insert>
	
	<update id="updateNotice" parameterType="clubBean">
		update club set updatetime=now(), title=#{title}, content=#{content}, depth=#{depth} where id=#{id}
	</update>
	
	<update id="updateRef" parameterType="_int">
		update club set depth=1 where id=#{id}
	</update>
	
	<update id="deleteClubData" parameterType="_int">
		update club set deleted=1 where id=#{id}
	</update>
	
	<select id="selectAboutBook" parameterType="clubBean" resultType="clubBean">
		select c.id, c.createtime, c.updatetime ,title , content,ref ,depth ,num ,c.deleted ,user_id ,book_bid,nickname,
		(select count(*) from club where depth = 1 and deleted != 1 and ref = c.id) AS reply
 		from club c left join user u on c.user_id = u.id where book_bid=#{book_bid} and c.deleted != 1 and depth = 0 and title like 
		#{search} order by createtime desc
	</select>
	
	<select id="selectOneClub" resultType="clubBean" parameterType="_int">
		select c.id, c.createtime, c.updatetime ,title , content,ref ,depth ,num ,c.deleted ,user_id ,book_bid,nickname from club c 
		inner join user u on c.user_id = u.id where c.id = #{id} and c.deleted !=1;
	</select>
	
	<insert id="insertOneClub" parameterType="clubBean">
		insert into club (updatetime, title, content, ref, depth, num, user_id,
		book_bid) values (now(),#{title},#{content},0,#{depth},0,#{user_id},#{book_bid});
	</insert>


	<insert id="insertReplyClub" parameterType="clubBean">
		insert into club (updatetime, content, ref, depth, num, user_id,
		book_bid) values (now(),#{content},#{ref},#{depth},0,#{user_id},#{book_bid});
	</insert>
	
	<select id="selectMore" parameterType="clubBean" resultType="clubBean">
		select * from (select c.id, c.createtime, c.updatetime ,title , content,ref ,depth ,num ,c.deleted ,user_id ,book_bid,nickname 
		,(select count(*) from club where depth = 1 and deleted != 1 and ref = c.id) AS reply 
		from club c left join user u on c.user_id = u.id where book_bid=#{book_bid} and c.deleted != 1 and title like 
		#{search} order by createtime desc) s limit #{start},10
	</select>
	
	<select id="selectReplyById" resultType="clubBean" parameterType="_int">
		select c.id, c.createtime, c.updatetime ,title , content,ref ,depth ,num ,c.deleted ,user_id ,book_bid,nickname from club c inner join user u 
		on c.user_id = u.id where ref = #{id} and depth = 1 and c.deleted != 1  order by createtime asc
	</select>
	
	<select id="countOfPosts" parameterType="_int" resultType="_int">
		select count(*) from club  where book_bid = #{book_bid} and deleted != 1 and depth != 1
	</select>
	
	<update id="updateClubPost" parameterType="clubBean">
	  	update club set title=#{title},content=#{content},updatetime = now() where id = #{id}
	</update>
	
	<update id="updateReply" parameterType="clubBean">
	  	update club set content=#{content},updatetime = now() where id = #{id}
	</update>
	
	<update id="updateRecommendUp" parameterType="_int">
	  	update club set num = (num+1), updatetime=now() where id = #{id}
	</update>
	<update id="updateRecommendDown" parameterType="_int">
	  	update club set num = (num-1), updatetime=now() where id = #{id}
	</update>
	
	<insert id="insertRecommendChk" parameterType="recommendBean">
		insert into recommend (user_id, club_id) values (#{user_id},#{club_id})
	</insert>
	
	<delete id="deleteRecommendChk" parameterType="recommendBean">
		delete from recommend where user_id = #{user_id} and club_id = #{club_id}
	</delete>
	
	<select id="selectAllRecommend" resultType="_int" parameterType="_int">
		select club_id from recommend where user_id = #{user_id}
	</select>
	
	<select id="selectReplyALLByUserId" parameterType="_int" resultType="clubBean">
		select u.nickname,r.o_titl,r.id,r.createtime ,r.updatetime ,r.title,r.content ,r.ref ,r.depth ,r.num ,r.deleted ,r.repl_id AS repl ,r.book_bid 
		from salpa.user u inner join (select a.user_id,a.title AS o_titl ,b.id,b.createtime ,b.updatetime ,b.title,b.content ,b.ref ,b.depth ,b.num ,
		b.deleted,b.user_id AS repl_id ,b.book_bid 
		from salpa.club a inner join salpa.club b on a.id = b.ref where a.user_id = #{user_id} and b.user_id != #{user_id}) r 
		on r.repl_id = u.id where r.title is null and r.deleted != 1 order by r.updatetime desc;
	</select>
	
	<update id="updateReplyTitleForMark" parameterType="_int">
		update club set title='checked' where id = #{id} 
	</update>
	
</mapper>