<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.salpa.bookery.model.V_NoticeDao">
	<select id="selectQnA" resultType="v_noticeBean">
		select * from v_notice where deleted!=1 order by answertime desc
	</select>
	<select id="selectQnAByUserId" parameterType="_int" resultType="v_noticeBean">
		select * from v_notice where deleted!=1 and checked="" and user_id=#{user_id} order by answertime desc
	</select>
</mapper>