<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	
	<!-- Root Context: defines shared resources visible to all other web components -->
		
		
		<!--
		log4jdbc 쓰는 경우   
		p:driverClass="net.sf.log4jdbc.sql.jdbcapi.DriverSpy"
		p:url="jdbc:log4jdbc:mysql://localhost:3306/bit?characterEncoding=UTF-8&amp;serverTimezone=UTC&amp;useSSL=false&amp;allowPublicKeyRetrieval=true"
		 -->
	<beans:bean id="dataSource"
		class="org.springframework.jdbc.datasource.SimpleDriverDataSource"
		p:driverClass="com.mysql.cj.jdbc.Driver"
		p:url="jdbc:mysql://localhost:3306/salpa?useUnicode=true&amp;characterEncoding=utf8&amp;verifyServerCertificate=false&amp;useSSL=false&amp;serverTimezone=UTC&amp;allowPublicKeyRetrieval=true"
		p:username="scott" p:password="tiger" />

	<context:annotation-config />

	<beans:bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean"
		p:dataSource-ref="dataSource"
		p:configLocation="classpath:/mybatis-config.xml" />
		
	<beans:bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
				<beans:constructor-arg ref="sqlSessionFactory" index="0"> </beans:constructor-arg>
	</beans:bean>
	
</beans:beans>
