<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


<typeAliases>
	<typeAlias alias="bookBean" type="co.salpa.bookery.model.entity.BookVo"/>
	<typeAlias alias="studyBean" type="co.salpa.bookery.model.entity.StudyVo"/>
	<typeAlias alias="tocBean" type="co.salpa.bookery.model.entity.TocVo"/>
	<typeAlias alias="userBean" type="co.salpa.bookery.model.entity.UserVo"/>
	<typeAlias alias="v_studyBean" type="co.salpa.bookery.model.entity.V_StudyVo"/>
	<typeAlias alias="checkChapBean" type="co.salpa.bookery.model.entity.CheckChapVo"/>
	<typeAlias alias="checkPageBean" type="co.salpa.bookery.model.entity.CheckPageVo"/>
	<typeAlias alias="medalBean" type="co.salpa.bookery.model.entity.MedalVo"/>
	<typeAlias alias="awardBean" type="co.salpa.bookery.model.entity.AwardVo"/>
	<typeAlias alias="v_awardsBean" type="co.salpa.bookery.model.entity.V_AwardsVo"/>
	<typeAlias alias="clubBean" type="co.salpa.bookery.model.entity.ClubVo"/>
	<typeAlias alias="v_readers_cntBean" type="co.salpa.bookery.model.entity.V_Readers_cntVo"/>
	<typeAlias alias="v_noticeBean" type="co.salpa.bookery.model.entity.V_NoticeVo"/>
	<typeAlias alias="recommendBean" type="co.salpa.bookery.model.entity.RecommendVo"/>
</typeAliases>
	
	<mappers>
		<mapper resource="config/BookMapper.xml" />
		<mapper resource="config/StudyMapper.xml" />
		<mapper resource="config/TocMapper.xml" />
		<mapper resource="config/UserMapper.xml" />
		<mapper resource="config/V_StudyMapper.xml" />
		<mapper resource="config/CheckChapMapper.xml" />
		<mapper resource="config/CheckPageMapper.xml" />
		<mapper resource="config/MedalMapper.xml" />
		<mapper resource="config/AwardMapper.xml" />
		<mapper resource="config/V_AwardsMapper.xml" />
		<mapper resource="config/ClubMapper.xml" />
		<mapper resource="config/V_Readers_cntMapper.xml" />
		<mapper resource="config/V_NoticeMapper.xml" />
	</mappers>
</configuration>