<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


<typeAliases>
	<typeAlias alias="bookBean" type="co.salpa.bookery.model.entity.BookVo"/>
	<typeAlias alias="tocBean" type="co.salpa.bookery.model.entity.TocVo"/>
	<typeAlias alias="studyBean" type="co.salpa.bookery.model.entity.StudyVo"/>

</typeAliases>
	

	<mappers>
		<mapper resource="config/BookMapper.xml" />
		<mapper resource="config/StudyMapper.xml" />
		<mapper resource="config/TocMapper.xml" />
	</mappers>
</configuration>